<a href="/">Home</a>
<div class="container">
  <h4 class="about1">About</h4>
  <p>
    I'll get back to this once the landing page is fully responsive, and working properly.
  </p>
  <p>
    pretty urls dawg. pretty urls.
  </p>
</div>

  <hr class="divider">
