<nav class="navbar navbar-default" id="local1" role="navigation">
  <a href="/" style="color: #30d94c" class="library">Home</a>
</nav>
<div class="container">
  <h5>take notes on how i crept</h5>
  <p>
    i've spent the better part of the last decade in question. i spend massive amounts of time in my mind.
    i like to think about thinking. while on this path of discovery, i've found i'm passionate about
    all things web related. this shit has a heart, and most of the people in the community are pretty cool.
  </p>
  <hr>
</div>
