<a href="/library">Library</a>
<div class="container1">
  <div class="github">
    <h4>all things github</h4>
    <p>
      i'll be installing github on a mac, so we'll be using the mac instructions.
    </p>
      <li>Head over to <a href="https://github.com/" target="_blank">Github</a> and create a profile. add an avatar, or atleast i did, so just a suggestion.</li>
      <li>let's start out by opening the terminal applicaiton and typing <strong>$ git config --global user.name "YOUR NAME"</strong> with your name
      actually being your name. by doing this, we're actually telling git (locally) we say who we say we are.
      </li>
      <li>next: config email address so git knows which email is associated with commits.</li>
      <li><strong>$ git config --global user.email "YOUR EMAIL ADDRESS"</strong></li>
      <li>next steps: setting up your ssh keys. ssh keys are a way to identify trusted computers.</li>
      <p>to find out other than github if ssh keys are established, open the terminal, and
        at the root path, which on my local is <strong>~$</strong> type ls -la. should display all directories on the local.
        you'll notice the .ssh. either change directories into .ssh, or open via an editor.
      </p>
  </div>
</div>
