<a href="/library">Library</a>
<div class="container1">
  <div class="github">
    <h4>all things github</h4>
    <p>
      i'll be installing github on a mac, so we'll be using the mac instructions.
    </p>
    <li>Head over to <a href="https://github.com/" target="_blank">Github</a> and create a profile. add an avatar, or atleast i did, so just a suggestion.</li>
    <li>let's start out by opening the terminal applicaiton and typing <strong>$ git config --global user.name "YOUR NAME"</strong> with your name
    actually being your name. by doing this, we're actually telling git (locally) we say who we say we are.
    </li>
    <li>config email address so git knows which email is associated with commits.</li>
    <li><strong>$ git config --global user.email "YOUR EMAIL ADDRESS"</strong></li>
  </div>
</div>
