<a href="/library">Library</a>
<div class="container1">
  <div class="github">
    <h4>all things github</h4>
    <p>
      i'll be installing github on a mac, so we'll be using the mac instructions.
    </p>
    <h5><a href="https://github.com/" target="_blank">Github</a> create a profile. add an avatar. </h5>
    <p>

    </p>
  </div>
</div>
