<div class="container1">
  <div class="github">
    <h4>all things github</h4>
    <p>
      i'll be installing github on a mac, so we'll be using the mac instructions.
    </p>
    <h4></h4>
  </div>
</div>
