<!-- <nav class="navbar navbar-default" id="local1" role="navigation">
  <a href='/library' class="library" style="color: #30d94c">library</a>
</nav> -->
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="header">
    <div class="nav navbar pull-left">
      <a href='/about'><h3 class="btn btn-default" id="child2">About</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href='/library'><h3 class="btn btn-default" id="child4">Library</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href='/work'><h3 class="btn btn-default" id="child3">Work</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href="mailto:justinveirs@gmail.com"><h3 class="btn btn-default" id="child1">Reach Out</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href="/home"><h3 class="btn btn-default" id="child5">Home</h3></a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="heroku">
      <h5>heroku's a beast.</h5>
      <p>as i began composing this piece, i actually wanted to know the meaning of heroku.
      in the past, i thought it was like some japanese ninja type shit. according to a more recent (2014)
      phd search, the phd comes up a few suggestions. first one, a nod to matz, the creator of ruby.
      second, to keep a tally of farts. oh, what up doe.</p>
      <p>
        with the heroku toolbelt installed, the necessary access to the heroku command
        line utility, as well as git, and foreman is now available. thank you master.
      </p>
      <p>
        i've configured 3 os x operating systems with heroku. i break shit, and try to fix it. ususally causing
        brain pain, but i love it. rinse, repeat. now with that said, let's head over to the terminal and get this shit set up.
      </p>
      <p>
        in the terminal, type <code>$ heroku login </code>, and login using the vituals used when logging into heroku.
        email, and password, right? either an ssh key has already been established, or a new one needs to be created.
        the <a href="https://www.heroku.com/" target="_blank" style="color: #0CF">99 cent nuggests</a> website has detailed instructions, as i've set
        up this website, just reminding either you or me to expedite if needing to configure another machine. ok, so, to verify
        keys are set up, type <code>heroku keys</code>, and if yer key isn't there, add it manually <code>heroku keys:add</code>.
      </p>
      <p>
        preparing the app:
      </p>
      <p>
        for instructional purposes, clone a repo. <code>git clone https://github.com/heroku/ruby-getting-started.git</code>.
        change directories into the freshly cloned repo like this <code>cd ruby-getting-started</code>.
      </p>
      <p>
        awww shit. check it. in the terminal, type <code>heroku create</code>, and since we added an ssh key, we
        can leave off the --http-git. the master at heroku creates a random name for your app, though it can be changed.
        now, deploy your code <code>git push heroku master</code> and then <code>heroku open</code>. in big applications, tailing
        the heroku logs allows one to see errors, and to fix. takes awhile getting used to. well, for me it did. good work. we've pushed
        a web application to cloud servers. if i'm not mistaken, a cloud is owned by a company and as a user, we're buying server space
        to host our application. i like to think of a server as an ole 1970ish file cabinet resembeling smoke like envelopes containing files inside.
        that's what a server is to me. we make http requests and grab those files from the servers.
      </p>
      <h5>heroku remote</h5>
      <p>
        i have a few machines configured, and a problem i encounter, or have in the past is simply not having the heroku references to a git repo.
        verify the remote version is in the git configuration by typing <code>git remote -v</code> in the terminal. i might need to associate
        a git repo with heroku, and do make this happen, type <code>heroku git:remote -a falling-wind-1624</code> where falling-wind-1624 should
        be replaced with your heroku application name. after this, push this joint <code>git push heroku master</code>
      </p>
      <p>
        furthermore, about raps it up for this installation. in the meantime, if finding trouble, or i actually made a mistake with instructions,
        please reach out. <a href="mailto:justinveirs@gmail.com" style="color: #0CF">hit me up</a>
      </p>
    </div>
  </div>
