<nav class="navbar navbar-default" id="local1" role="navigation">
  <a href='/library' class="library" style="color: #30d94c">library</a>
</nav>
  <div class="container">
    <div class="heroku">
      <h5>heroku's a beast.</h5>
      <p>as i began composing this piece, i actually wanted to know the meaning of heroku.
      in the past, i thought it was like some japanese ninja type shit. according to a more recent (2014)
      phd search, the phd comes up a few suggestions. first one, a nod to matz, the creator of ruby.
      second, to keep a tally of farts.</p>
    </div>
  </div>
