<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="header">
  <div class="nav navbar pull-right">
    <h3 class="btn btn-default" id="child1">Reach Out</h3>
  </div>
  <!-- <div class="nav navbar pull-right">
    <h3 class="btn btn-default" id="child2">About</h3>
  </div> -->
</div>
</nav>
<video autoplay loop>
  <source src="videos/sample.mp4" type="video/mp4">
</video>
<div class="section">
  <div class="introduction vertical-align text-center fade in">
    <h1>Meet Justin</h1>
    <h3>I'm all over the interwebs blending science and art.</h3>
  </div>
</div>
