<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="header">
  <div class="nav navbar pull-right">
    <a href="mailto:justinveirs@gmail.com"><h3 class="btn btn-default" id="child1">Reach Out</h3></a>
  </div>
  <div class="nav navbar pull-right">
    <a href='/work'><h3 class="btn btn-default" id="child3">Work</h3></a>
  </div>
  <div class="nav navbar pull-right">
    <a href='/about'><h3 class="btn btn-default" id="child2">About</h3></a>
  </div>
</div>
</nav>

<div class="wrapper">
  <video autoplay loop id="video">
    <source src="videos/sample.mp4" type="video/mp4">
  </video>
  <div class="section" id="floater">
      <h1><strong>Yo! Justin here.</strong></h1>
      <h3>I'm all over this web thing.</h3>
  </div>
</div>

<div class="middle">
  <h3 class="tools">Deeply passionate about blending science and art.</h3>
  <div class="col-md-1">
  </div>
</div>

<div class="companies">
  <div class="text-center">
  </div>
  <div class="row">
    <div class="col-md-4">
        <a href="http://github.com" target="_blank"><img src="images/github.jpg" alt="Github"></a>
    </div>
    <div class="col-md-4" id="heroku">
        <a href="http://heroku.com" target="_blank"><img src="images/heroku1.jpg" alt="Heroku"></a>
   </div>
   <div class="col-md-4" id="atom">
       <a href="http://atom.io/" target="_blank"><img src="images/atom3.jpg" alt="Atom"></a>
   </div>
  </div>
</div>

<div class="footer">
  <p class="started">Started from the bottom.</p>
  <ul>
    <li><a href="http://github.com/cheezedigital" target="_blank">Cheeze</a></li>
    <li><a href="http://facebook.com/justinveirs" target="_blank">Holler</a></li>
    <li><a href="https://www.linkedin.com/in/justinveirs" target="_blank">Holler</a></li>
  </ul>
</div>
