<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="header">
  <div class="nav navbar pull-right">
    <a href="mailto:justinveirs@gmail.com"><h3 class="btn btn-default" id="child1">Reach Out</h3>
  </div>
  <!-- <div class="nav navbar pull-right">
    <h3 class="btn btn-default" id="child2">About</h3>
  </div> -->
</div>
</nav>

<div class="wrapper">
  <video autoplay loop id="video">
    <source src="videos/sample.mp4" type="video/mp4">
  </video>
  <div class="section" id="floater">
      <h1><strong>Yo! Justin here.</strong></h1>
      <h3>I'm all over this web thing.</h3>
  </div>
</div>

<div class="middle">
  <h3 class="tools">Tools.</h3>
  <div class="col-md-1">
    
  </div>
</div>

<div class="companies">
  <div class="text-center">
  </div>
  <div class="row">
    <div class="col-md-4">
        <a href="http://github.com" target="_blank"><img src="images/github.jpg" alt="Github">
    </div>
    <div class="col-md-4">
        <a href="http://heroku.com" target="_blank"><img src="images/heroku1.jpg" alt="Heroku">
   </div>
   <div class="col-md-4">
       <a href="http://newrelic.com/" target="_blank"><img src="images/newrelic.jpg" alt="New Relic">
   </div>
  </div>
</div>

<div class="footer">
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>Started from the bottom.</p>
</div>
