<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="header">
    <div class="nav navbar pull-left">
      <a href='/about'><h3 class="btn btn-default" id="child2">About</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href='/library'><h3 class="btn btn-default" id="child4">Library</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href='/work'><h3 class="btn btn-default" id="child3">Work</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href="mailto:justinveirs@gmail.com"><h3 class="btn btn-default" id="child1">Reach Out</h3></a>
    </div>
  </div>
</nav>
<div class="wrapper">
  <img class="responsive" src="images/justin.jpg"/>
</div>

<div class="middle">
  <h1 id="tools" style="padding-right: 60px">I'm all over this web thing.</h1>
</div>

<div class="companies">
  <div class="text-center">
    <!-- <h1>tools</h1> -->
  </div>
  <div class="row" id="row1">
    <div class="col-md-4">
        <a href="http://github.com" target="_blank"><img src="images/github.jpg"></a>
    </div>
    <div class="col-md-4" id="heroku">
        <a href="http://heroku.com" target="_blank"><img src="images/heroku1.jpg"></a>
   </div>
   <div class="col-md-4" id="atom">
       <a href="http://atom.io/" target="_blank"><img src="images/atom3.jpg"></a>
   </div>
  </div>
</div>
<footer id="row">
    <ul class="col-md-12">
      <li class="col-md-4"><a href="http://github.com/cheezedigital" target="_blank"><i class="fa fa-github social-icon-button"></i></a></li>
      <li class="col-md-4"><a href="http://facebook.com/justinveirs" target="_blank"><i class="fa fa-facebook social-icon-button"></i></a></li>
      <li class="col-md-4"><a href="https://www.linkedin.com/in/justinveirs" target="_blank"><i class="fa fa-linkedin social-icon-button"></i></a></li>
    </ul>
    <p class="copy">
      Copyright &copy; 2015. Started from the bottom. All Rights Reserved.
    </p>
</footer>
