<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="tool" content="this is my spot on the web. i'm all over it. love all things web related. deeply layered music, and lattes.">
    <title>Justin Veirs | Portfolio</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='/css/main.css' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico" type="public/images/cheezedigital.jpg">
    <link rel="icon" href="/favicon.ico" type="public/images/cheezedigital.jpg">
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html> -->
