<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='/css/main.css' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico" type="../images/cheezedigital.jpg">
    <link rel="icon" href="/favicon.ico" type="../images/cheezedigital.jpg">
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript">
      // $(function () {
      //   var videoHeight = $('#video').height(),
      //   videoWidth = $('#video').width(),
      //   floaterHeight = $('#floater').height(),
      //   floaterWidth = $('#floater').width();
      //   $('#floater').css('top', ((videoHeight/2) - (floaterHeight/2)) + 'px');
      //   $('#floater').css('left', ((videoWidth/2) - (floaterWidth/2)) + 'px'); });
    </script>
  </body>
</html>
