<a href="/">Home</a>

<div class="container">
  <div class="article">
    <h4>all things code</h4>
    <h4>local environment</h4>
    <p>on learning how to think, i think it's necessary to display the proper steps for setting up a local envirnoment.
       throughout this stage in my learning; i struggled immensely, and still do, daily. however, i enjoy trying to solve a problem.
    </p>
  </div>
</div>
