<a href="/">Home</a>

<div class="container1">
  <div class="article">
    <h4 class="holler">code and more</h4>
    <h4 class="holler1">articles</h4>
    <a href="/local"><h4>local environment</h4></a>
    <p>on learning how to think, it's important to display the proper steps for setting up a local envirnoment.
       throughout this stage in my learning; i struggled immensely, and still do, daily. however, i enjoy trying to solve a problem.
    </p>
    <hr>
    <a href="/github"><h4>github</h4></a>
    <p>
      in this article, i'll explain how to configure the local for pushing, pulling, and all things github related.
    </p>
    <hr>
    <a href="/heroku"><h4>heroku</h4></a>
    <p>
      this piece will first begin by installing the heroku toolbelt.
    </p>
  </div>
</div>
