<a href="/">Home</a>

<div class="container1">
  <div class="article">
    <h4 class="holler">all things code</h4>
    <h4 class="holler1">local environment</h4>
    <p>on learning how to think, i think it's necessary to display the proper steps for setting up a local envirnoment.
       throughout this stage in my learning; i struggled immensely, and still do, daily. however, i enjoy trying to solve a problem.
       so, first things first. let's navigate using our spotlight and type in terminal, the black box, the local machine, the shell.
       i suggest spending enough time in the terminal when first starting until so comfortable, the commands can be excuted while
       not even having to think about it. so naturally, perhaps.
    </p>
    <p>
      next, pick out an editor. i use <a href="https://atom.io/" target="_blank">atom</a>, however, many others to choose from.
      like, <a href="http://www.sublimetext.com/3">sublime</a>, <a href="http://macromates.com/">text mate</a>, the list continues.
      just pick one, and stick with it. eventually, i'd love to learn <a href="http://www.vim.org/">VIM</a>. such a beast.
      but yea, i'm getting side tracked. i'm happy with atom, really. the shit is built using straight markup.
    </p>
    <p>
      ok, cool. we're tucking along, right! navagating the machine to find the terminal, and picked up the fancy editor. next
      up, let's begin installing some awesomeness.
    </p>
    <p>

    </p>
  </div>
</div>
