<a href="/">Home</a>

<div class="container1">
  <div class="article">
    <h4 class="holler">all things code</h4>
    <h4>local environment</h4>
    <p>on learning how to think, i think it's necessary to display the proper steps for setting up a local envirnoment.
       throughout this stage in my learning; i struggled immensely, and still do, daily. however, i enjoy trying to solve a problem.
       so, first things first. let's navigate using our spotlight and type in terminal, the black box, the local machine, the shell.
       I suggest spending enough time in the terminal when first starting until so comfortable, the commands can be excuted while
       not even having to think about it. so naturally, perhaps.
    </p>
    <p>
      Next, pick out an editor. I use <a href="https://atom.io/" target="_blank">Atom</a>, however, many others to choose from.
      Like, <a href="http://www.sublimetext.com/3">Sublime</a>, <a href="http://macromates.com/">Text Mate</a>, the list continues.
      Just pick one, and stick with it. Eventually, I'd love to learn <a href="http://www.vim.org/">VIM</a>. Such a beast.
    </p>
    <p>
      Ok, cool. we're tucking along, right! Navagating the machine to find the terminal, and got the fancy editor in check. Next
      up, let's begin installing some awesomeness.
    </p>
    <p>
      
    </p>
  </div>
</div>
