<a href="/">Home</a>

<div class="container1">
  <div class="article">
    <h4 class="holler">all things code</h4>
    <h4 class="holler1">articles</h4>
    <a href="/local"><h4>local environment</h4></a>
    <p>on learning how to think, i think it's necessary to display the proper steps for setting up a local envirnoment.
       throughout this stage in my learning; i struggled immensely, and still do, daily. however, i enjoy trying to solve a problem.
    </p>
    <a href="/github"><h4>github</h4></a>
    <p>
      in this article, i'll explain how to configure the local for pushing, pulling, and all things git, and github related.
    </p>
  </div>
</div>
