<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="header">
    <div class="nav navbar pull-left">
      <a href='/about'><h3 class="btn btn-default" id="child2">About</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href='/library'><h3 class="btn btn-default" id="child4">Library</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href='/work'><h3 class="btn btn-default" id="child3">Work</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href="mailto:justinveirs@gmail.com"><h3 class="btn btn-default" id="child1">Reach Out</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href="/home"><h3 class="btn btn-default" id="child5">Home</h3></a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="article">
    <h4 class="holler">code and more</h4>
    <h4 class="holler1">articles</h4>
      <a href="/local"><h4 style="color: #30d94c">local environment</h4></a>
      <p>on learning how to think, it's important to display the proper steps for setting up a local envirnoment.
        throughout this stage in my learning, i struggled immensely, and still do, daily. however, i enjoy trying to solve a problem.
      </p>
      <hr>
        <a href="/github"><h4 style="color: #30d94c">github</h4></a>
      <p>
        in this article, i'll explain how to configure the local for pushing, pulling, and all things github related.
      </p>
      <hr>
        <a href="/heroku"><h4 style="color: #30d94c">heroku</h4></a>
        <p>
          in this piece, i'll assume the heroku toolbelt has been installed. if not, head over to <a href="https://www.heroku.com/" target="_blank" style="color: #30d94c">heroku</a> and
          download. simple.
        </p>
      <hr>
        <a href="/ruby"><h4 style="color: #30d94c">hello world</h4></a>
        <p>
          our system is configuered. fuck it. let's set up the necessary files/folders structure, or parking lot using atom, or the terminal; i'll be using the terminal for this. create a repo.
          initalize it. most importantly, have some fun!
        </p>
      <hr>
        <a href="/overtone"><h4 style="color: #30d94c">overtone, monome, mlrv, and exploration.</h4></a>
        <p>
          in this piece i'll go over the installation of leinington and overtone with hopes of syncing up with a monome for programming music. sick shit!
        </p>
      <hr>
  </div>
</div>
