<nav class="navbar navbar-default" id="local1" role="navigation">
  <a href="/" class="library" style="color: #30d94c">Home</a>
</nav>
<div class="container1">
  <div class="article">
    <h4 class="holler">code and more</h4>
    <h4 class="holler1">articles</h4>
      <a href="/local"><h4 style="color: #30d94c">local environment</h4></a>
      <p>on learning how to think, it's important to display the proper steps for setting up a local envirnoment.
        throughout this stage in my learning, i struggled immensely, and still do, daily. however, i enjoy trying to solve a problem.
      </p>
      <hr>
        <a href="/github"><h4 style="color: #30d94c">github</h4></a>
      <p>
        in this article, i'll explain how to configure the local for pushing, pulling, and all things github related.
      </p>
      <hr>
        <a href="/heroku"><h4 style="color: #30d94c">heroku</h4></a>
        <p>
          in this piece, i'll assume the heroku toolbelt has been installed. if not, head over to <a href="https://www.heroku.com/" target="_blank">heroku</a> and
          download. simple.
        </p>
      <hr>
        <a href="/ruby"><h4 style="color: #30d94c">hellow world</h4></a>
        <p>
          our system is configuered. fuck it. let's set up the necessary files using atom, or the terminal; i love using the terminal. create a repo.
          initalize it. most importantly, have some fun!
        </p>
      <hr>
  </div>
</div>
