<a href='/library'>Library</a>
<div class="container" id="local">
  <h4>setting up the local environment</h4>
  <p>
    so, first things first. let's navigate using our spotlight, which is the magnifying glass on a mac, and type in terminal. open it, and save to the dock. check this out, the terminal is used heavily.
    i suggest spending massive amounts of time in the terminal when first beginning how to think so commands can be excuted while
    not even having to think about it. so naturally, perhaps.
  </p>
  <p>
    next, pick out an editor. i use <a href="https://atom.io/" target="_blank">atom</a>, however, many others to choose from.
    like, <a href="http://www.sublimetext.com/3">sublime</a>, <a href="http://macromates.com/">text mate</a>, the list continues.
    just pick one, and stick with it. eventually, i'd love to learn <a href="http://www.vim.org/">VIM</a>. such a beast.
    i'm happy with atom, though i've had to uninstall, and reinstall several times.
  </p>
  <p>
    ok, cool. we're trucking along. learning how to navigate the machine to find the terminal, and downloaded a pretty sweet editor. next
    up, let's begin installing some awesomeness. oh yea, to verfiy atom is installed properly, in the terminal type atom -v. should output the version.
  </p>
  <p>
    i use os x for my operating system. now with that said, install xcode command line tools. if using a windows based machine, i can't help. in the terminal type xcode-select --install
    i'm almost certain a developer user account needs to be established for logging in and whatnot for the install to work proper.
  </p>
  <p>
    homebrew is a package managing system, which makes it easy to install open source projects on the local. it's badass.
    in terminal, type <code>ruby -e "$(curl -fsSL https://raw.github.com/Homebrew/homebrew/go/install)"</code>and hit enter. from time to time,
    homebrew updates, and a newer version is required to be typed into the terminal. furthermore, to verify homebrew was installed properly, i suggest
    typing the following into the terminal: brew -v. cool. next up, run the command brew update followed by brew doctor. brew update ususally updates
    any libraries of code while running brew doctor fixes any broken libraries. to find futher documentation of homebrew, check this out
    <a href="http://brew.sh/">homebrew</a>. also, tickets can be submitted by finding the appropriate place incase homebrew is broke, or machine is broke. i've
    reached out several times, and the peeps at the brew home are awesome, and super friendly.
  </p>
  <p>
    we're making head way here. equipping the toolbelt with the proper gear, and verifying installation is such an accomplishment; i think.
  </p>
  <p>
    ok, next up ruby version manager. another bad ass open sourced project which allows one to change between different versions of software. again, badass.
    so, 
  </p>
</div>
