<!-- <nav class="navbar navbar-default" id="local1" role="navigation">
  <a href='/library' class="library" style="color: #30d94c">Library</a>
</nav> -->
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="header">
    <div class="nav navbar pull-left">
      <a href='/about'><h3 class="btn btn-default" id="child2">About</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href='/library'><h3 class="btn btn-default" id="child4">Library</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href='/work'><h3 class="btn btn-default" id="child3">Work</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href="mailto:justinveirs@gmail.com"><h3 class="btn btn-default" id="child1">Reach Out</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href="/home"><h3 class="btn btn-default" id="child5">Home</h3></a>
    </div>
  </div>
</nav>
  <div class="container" id="local">
    <h4>setting up the local environment</h4>
    <p>
      so, first things first. let's navigate using our spotlight, which is the magnifying glass on a mac, and type in terminal. open it, and save to the dock. check this out, the terminal is used heavily.
      i suggest spending massive amounts of time in the terminal when first beginning how to think so commands can be excuted while
      not even having to think about it. so naturally, perhaps.
    </p>
    <p>
      next, pick out an editor. i use <a href="https://atom.io/" target="_blank" style="color: #30d94c">atom</a>, however, many others to choose from.
      like, <a href="http://www.sublimetext.com/3" target="_blank" style="color: #30d94c">sublime</a>, <a href="http://macromates.com/" target="_blank" style="color: #30d94c">text mate</a>, the list continues.
      just pick one, and stick with it. eventually, i'd love to learn <a href="http://www.vim.org/" target="_blank" style="color: #30d94c">vim</a>. such a beast.
      i'm happy with atom, though i've had to uninstall, and reinstall several times.
    </p>
    <p>
      ok, cool. we're trucking along. learning how to navigate the machine to find the terminal, and downloaded a pretty sweet editor. next
      up, let's begin installing some awesomeness. oh yea, to verfiy atom is installed properly, in the terminal type atom -v. should output the version.
    </p>
    <p>
      os x operating system, which is actually built ontop of your computer is what i use, and next up, i'll be installing xcode command line tools. if using a windows based machine, i can't help. in the terminal type <code>xcode-select --install</code>
      i'm almost certain a developer user account needs to be established for xcode to be installed. head over to <a href="https://developer.apple.com/" target="_blank" style="color: #30d94c">apple developer</a>
      and create an account. then toggle the launchpad, and head over to the app store where xcode can be installed, though it also has to be installed via the command line.
    </p>
    <p>
      homebrew is a package managing system, which makes it easy to install open source projects on the local. it's badass.
      in terminal, type <code>ruby -e "$(curl -fsSL https://raw.github.com/Homebrew/homebrew/go/install)"</code> and hit enter. from time to time,
      homebrew updates, and a newer version is required to be typed into the terminal. furthermore, to verify homebrew was installed properly, i suggest
      typing the following into the terminal: brew -v. cool. next up, run the command brew update followed by brew doctor. brew update ususally updates
      any libraries of code while running brew doctor fixes any broken libraries. to find futher documentation of homebrew, check this out
      <a href="http://brew.sh/" target="_blank">homebrew</a>. also, tickets can be submitted by finding the appropriate place incase homebrew is broke, or machine is broke. i've
      reached out several times, and the peeps at the brew home are awesome, and super friendly.
    </p>
    <p>
      we're making head way here. equipping the toolbelt with the proper gear, and verifying installation is such an accomplishment; i think.
    </p>
    <p>
      ok, next up ruby version manager. another bad ass open sourced project which allows one to change between different versions of ruby. again, badass.
      so, in the terminal type <code>\curl -L https://get.rvm.io | bash -s stable</code>. ruby these days comes preinstalled on macs, however, i'm not using the default, which
      i think is like 2.0.0? anyway, i'm using ruby 2.1.2, therefore, in the terminal type rvm install 2.1.2 - let the machine do it's work by installing the libraries, and verify after
      the install rvm is properly installed by typing in the terminal rvm -v.
    </p>
    <p>
      that's it. again, i recommend double checking each tool was installed properly by typing the following in the terminal:
    </p>
      <li>rvm -v</li>
      <li>ruby -v</li>
      <li>atom -v</li>
      <li>brew -v</li>
  </div>
