<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="header">
    <div class="nav navbar pull-left">
      <a href='/about'><h3 class="btn btn-default" id="child2">About</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href='/library'><h3 class="btn btn-default" id="child4">Library</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href='/work'><h3 class="btn btn-default" id="child3">Work</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href="mailto:justinveirs@gmail.com"><h3 class="btn btn-default" id="child1">Reach Out</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href="/home"><h3 class="btn btn-default" id="child5">Home</h3></a>
    </div>
  </div>
</nav>
