<!-- <nav class="navbar navbar-default" id="local1" role="navigation">
  <a href="/library" class="library" style="color: #30d94c">library</a>
</nav> -->
<!-- <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="header">
    <div class="nav navbar pull-left">
      <a href='/about'><h3 class="btn btn-default" id="child2">About</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href='/library'><h3 class="btn btn-default" id="child4">Library</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href='/work'><h3 class="btn btn-default" id="child3">Work</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href="mailto:justinveirs@gmail.com"><h3 class="btn btn-default" id="child1">Reach Out</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href="/home"><h3 class="btn btn-default" id="child5">Home</h3></a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="program1">
      <h5>first program</h5>
      <p>
        i recently started reading a book called learn how to program from chris pine,
        and what really struck a cord with me was how he wrote about preparing a peanut butter sammy. i never really
        think about all the steps when making a peanut butter sammy, as it just seems natural at this point in my life,
        however, i'm wrong. seriously wrong. perhaps writing all these steps out will help me evolve into a more logical thinker.
        that's what i'm hoping, really.
      </p>
      <h5>first things first</h5>
      <p>
        i haven't gone over how to properly set up the bash profile, so we'll have to manually open the editor of choice.
        by now, the editor should hanging out on the dock, just chilling. open another desktop screen, and keep on seperate screen
        other than on the same screen as your browser, or terminal. trust me, do this. it allows for a smoother control flow.
      </p>
      <p>
        open up the terminal, and change directories to desktop. for me, i absolutely love keeping my projects
        on my desktop. again, that's just how i roll. i'm not going over shell commands, so with that said, let's make a new
        directory on our desktop called whatever you want.
      </p>
      <p>
        Desktop$ <code>mkdir cheeze</code> creating a new directory
      </p>
        change directories into cheeze or whatever you named your directory or folder <code>cd cheeze</code>
      <p>
        since this program doesn't require any dependencies all we need to do now is <code>touch program.rb</code>
        which makes a file inside our directory called program.rb. fire up the editor, and open the directory, and
        should see the file, right?
      </p>
      <p>
        ready for it? our first program where we're actually telling the computer what to do....
        inside the program.rb write <code>puts "hello world!"</code> save it by control s. head back over to the terminal, and
        type <code>ruby program.rb</code>. pretty fucking cool, huh.
      </p>
    </div>
  </div> -->
