<!-- <nav class="navbar navbar-default" id="local1" role="navigation">
  <a href="/" style="color: #30d94c;">Home</a>
</nav> -->
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="header">
    <div class="nav navbar pull-left">
      <a href='/about'><h3 class="btn btn-default" id="child2">About</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href='/library'><h3 class="btn btn-default" id="child4">Library</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href='/work'><h3 class="btn btn-default" id="child3">Work</h3></a>
    </div>
    <div class="nav navbar pull-left">
      <a href="mailto:justinveirs@gmail.com"><h3 class="btn btn-default" id="child1">Reach Out</h3></a>
    </div>
  </div>
</nav>
  <div class="item1">
    <a href="http://itempiece1.herokuapp.com/" target=">blank"><img id="item1" src="images/itempiece1.jpg.png"/></a>
  </div>
  <div id="item2">
    <a href="http://www.glass-overflowing.com/" target="_blank"><img id="item2" src="images/itempiece2.jpg.png"/></a>
  </div>

  <div id="item3">
   <a href="https://glacial-beyond-8713.herokuapp.com/" target="_blank"><img id="item3" src="images/itempiece3.jpg.png"/></a>
  </div>

  <div id="item4">
    <img id="item4" src=""/>
  </div>

  <div id="item5">
    <img id="item5" src=""/>
  </div>
