<nav class="navbar navbar-default" id="local1" role="navigation">
  <a href="/" style="color: #30d94c;">Home</a>
</nav>
  <div id="item1">
    <img src="images/itempiece1.jpg.png"/>
  </div>
  <div id="item2">
    <img src="images/itempiece2.jpg.png"/>
  </div>

  <div id="item3">
    <img src=""/>
  </div>

  <div id="item4">
    <img src=""/>
  </div>

  <div id="item5">
    <img src=""/>
  </div>
