<nav class="navbar navbar-default" id="local1" role="navigation">
  <a href="/" style="color: #30d94c;">Home</a>
</nav>
  <div class="item1">
    <a href="http://itempiece1.herokuapp.com/" target=">blank"><img id="item1" src="images/itempiece1.jpg.png"/></a>
  </div>
  <div id="item2">
    <a href="http://www.glass-overflowing.com/" target="_blank"><img id="item2" src="images/itempiece2.jpg.png"/></a>
  </div>

  <div id="item3">
   <a href="https://glacial-beyond-8713.herokuapp.com/" target="_blank"><img id="item3" src="images/itempiece3.jpg.png"/></a>
  </div>

  <div id="item4">
    <img id="item4" src=""/>
  </div>

  <div id="item5">
    <img id="item5" src=""/>
  </div>
