video {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(sample.mp4) no-repeat;
  background-size: cover;
}

video { display: block; }

.navbar-inverse {
  background-color: rgba(0,0,0,0);
  border-color: rgba(255,255,255,0.25);
}

#child1 {
  font-size: 19px;
  border-radius: 5px;
  margin-right: 10px;
  color: white;
  background-color: rgba(0,0,0,0);
}
/*#child2 {
  font-size: 19px;
  border-radius: 5px;
  margin-right: 10px;
  color: white;
  background-color: rgba(0,0,0,0);
}*/
.section {
  position: absolute;
  top: 0;
  margin:0!important;
  padding:0!important;
}
h1 {
  text-transform: uppercase;
  font-size: 46px;
  color: white;
}
h3 {
  font-size: 30px;
  color: white;
  text-align: center;
}
.divider {
  margin: 100px 0;
}
.footer {
  padding: 200px;
  background-color: #000408;
}
.companies {
  background-color: #303438;
  padding: 40px;
}
.row {
  padding: 15px;
}
.col-md-3 {
  diplay: inline-block;
}
.wrapper {
  position: relative;
}
.middle {
  background-color: #4f4f4f;
}

.section h1 {margin:0;padding:0;}
.section h3 {margin:0;padding:0;}

.middle {
  padding: 40px;
}
#atom {
  margin-top: 28px;
}
#heroku {
  margin-top: 10px;
}
