.navbar-inverse {
  /*background-color: rgba(41,43,51,0.9);*/
  background-color: rgba(0,0,0,0);
  /*border-color: rgba(255,255,255,0.25);*/
  /*border-color: #30d94c;*/
  border: none;
}

#child1 {
  font-family: "PT Sans Narrow";
  font-size: 19px;
  border-radius: 5px;
  margin-right: 10px;
  color: #30d94c;
  border-color: #30d94c;
  background-color: rgba(0,0,0,0);
}

#child2 {
  font-family: "PT Sans Narrow";
  font-size: 19px;
  border-radius: 5px;
  margin-left: 10px;
  color: #30d94c;
  border-color: #30d94c;
  background-color: rgba(0,0,0,0);
}

#child3 {
  font-family: "PT Sans Narrow";
  font-size: 19px;
  border-radius: 5px;
  margin-right: 10px;
  color: #30d94c;
  border-color: #30d94c;
  background-color: rgba(0,0,0,0);
}

#child4 {
  font-family: "PT Sans Narrow";
  font-size: 19px;
  border-radius: 5px;
  margin-left: 10px;
  color: #30d94c;
  border-color: #30d94c;
  background-color: rgba(0,0,0,0);
}

h1 {
  font-family: "PT Sans Narrow";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 46px;
  color: #30d94c;
}

h3 {
  font-weight: 100;
  font-size: 30px;
  color: #30d94c;
  text-align: center;
}

h2  {
  text-align: center;
  font-color: #1e1e1e;
}

#row {
  padding: 100px;
  /*background-color: rgba(41,43,51,0.9);*/
  background-color: #1e1e1e;
}

.companies {
  background-color: #303438;
  padding: 40px;
}

.row {
  padding: 15px;
}

.col-md-3 {
  diplay: inline-block;
}
.responsive {
  background-image: url('images/justin.jpg');
  width: 100%;

}

.middle {
  background-color: #4f4f4f;
  padding: 40px;
}

#atom {
  margin-top: 28px;
}

#heroku {
  margin-top: 10px;
}

.tools {
  font-weight: 200;
  font-family: "PT Sans Narrow";
  color: #1e1e1e;
}

.navigation-wrapper {
  width: 100%;
  padding: 32px;
  margin: 0 auto;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  text-transform: uppercase;
}

.top-navigation {
  display: inline;
  float: left;
  width: 75%;
  margin-right: 0;
  margin-left: 0;
}

ul  {
  list-style-type: none;
  font-size: 15px;
  color: #30d94c;
  text-decoration: none;
}

.social-icon-button {
  font-size: 50px;
  color: #30d94c;
  border-radius: 30px;
}

.col-md-12 {
  margin-left: 115px;
}

/*About*/

#about {
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  line-height: 3rem;
  font-family: "PT Sans Narrow";
  font-size: 20px;
}

.crept {
  font-size: 40px;
  color: #0cc;
  font-weight: bold;
  text-align: center;
}

.about1 {
  font-size: 36px;
  margin-top: 40px;
  font-family: Ubuntu Mono;
  font-weight: bold;
  color: #30d94c;
}
.copy {
  text-align: center;
  color: #0CF;
  padding-top: inherit;
  padding-right: 50px;
  margin-right: 15px;
  font-weight: 200;
}

.divider {
  margin: 100px 0;
}

a:hover {
  text-decoration: none;
}

.article {
  font-family: "PT Sans Narrow";
  font-size: 20px;
  font-weight: 300;
  line-height: 3rem;

}

/*.container1 {
  width: 960px;
  margin: 0 auto;
  padding: 40px;
}*/

.holler {
  padding-top: 10px;
  font-size: 28px;
}

.holler1 {
  padding-top: 10px;
  padding-bottom: 8px;
  font-size: 20px;
}

#local {
  margin: 0 auto;
  padding: 40px;
  font-weight: 400;
  line-height: 3rem;
  font-family: "PT Sans Narrow";
  font-size: 15px;
}

body {
  /*background-color: #F8F8FF;*/
  background-color: #3C3E45;
  color: #F8F8FF;
}

hr {
  border-width: 2px;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-color: #0CF;
}

.library {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 4px;
}

code {
  padding: 0px 5px 2px;
  border-radius: 3px;
  border: 1px solid;
  color: #0CF;
  font-weight: 300;
}

/* heroku */
#local1 {
  border-radius: 0 !important;
  background-color: #3C3E45;
  border: #1e1e1e;
  padding: 9px;
  margin-bottom: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

/* work */

#item1 {
  width: 100%;
  height: auto;
  position: relative;

}

#item2 {
  width: 100%;
  height: auto;
  position: relative;
  transition: opacity 250ms ease 0s;
}

#item3 {
  width: 100%;
  height: auto;
  position: relative;
}

#item4 {
  width: 100%;
  height: auto;
}

#item5 {
  width: 100%;
  height: auto;
}

/* ruby */

.program1 {
  font-weight: 400;
  line-height: 3rem;
  font-family: "PT Sans Narrow";
  font-size: 20px;
}

/* page color */
